body {
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  button {
    text-transform: none !important;
  }
  